

    <% if(footerFile.length !== 0) {%>
        <% for(let i=0; i<footerFile.length; i++){ %>
            <link rel="stylesheet" href="/css/<%- footerFile[i] %>">
        <% } %>
    <% } %>

    <div id="footer">
        <div class="center">
            <div class="title">
                <p class="sing">SIGN UP FOR OUR NEWSLETTER!</p>
                <p class="tik">TIKTOK INSTAGTAM FACEBOOK TWITTER PINTEREST KAKAO YOUTUBE SPOTIFY</p>
                <p class="company">Company Registration Number : 120-88-14733 Representative : Roway De La Cokina Jose Manuel <br>
                    551 Yeongdong-daero, Gangnam-gu, Seoul (33rd floor, Trade Tower, Samseong-dong) Representative Number:080-479-0880</p>
                <p class="fix" style="cursor:pointer">BACK TO TOP</p>
            </div>
        </div>
    </div>

