<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/mypage.css">
</head>
<body>
    <div id="header">
        <div class="center">
            <div class="title">
                <h1 class="logo"><a href="/"><img src="/img/Zara_logo.png"></a></h1>
            </div>
            <div class="ul">
                <ul>
                    <li><a href="#">구매내역</a></li>
                    <li><a href="#">계정</a></li>
                    <li><a href="#">설정</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="login">
        <ul>
            <li class="memberid"><%- login.memberid %></li>
            <li class="won">주소</li>
            <li class="two">아이디</li>
            <li class="id"><%- login.memberid %></li>
            <li class="password"><a href="/mypagepass">비밀번호 변경</a></li>
            <li class="memberpassword">**********</li>
        </ul>
    </div>
    <!-- 회원정보 출력하고 싶을 때-->
    <!-- <div>login.memberid </div>
    <div>login.memberpass</div> -->

    <!-- 회원정보 수정작업 하고 싶을 때-->
    <!-- <form action="/myupdate" method="post">
        <input type="password" name="originPass" placeholder="원래 비밀번호 입력하세요">
        <input type="password" name="changePass" placeholder="변경할 비밀번호 입력하세요">
        <button type="submit">회원정보 수정</button>
    </form> -->
</body>
</html>