<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/substyle.css">
    <link rel="stylesheet" href="css/re.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600&family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
</head>
<body>
    <%- include("subheader.ejs", {title:"sub",subFiles:["subheader.css"]}) %>
    <div id="container">
        <div class="sub1">
            <div class="center">
                <img class="banner" src="/img/sub1_banner2.jpg">
                <div class="title">
                    <h3>SUNLIGHT</h3>
                    <p class="won">예상치 못한 반짝이는 트위스트가 있는 여름 아이템 컬렉션. 스팽글과 메탈릭이 멋지게 바뀌었습니다.</p>
                </div>
            </div>
        </div>
        <div class="sub2">
            <div class="center">
                <div class="top">
                    <img src="/img/woman/sub2_banner1.jpg">
                </div>
                <div class="bot">
                    <img src="/img/woman/sub2_banner2.jpg">
                </div>
            </div>
        </div>
        <div class="sub2_2">
            <div class="center">
                <div class="woman">
                    <div class="top">
                        <img src="/img/woman/sub2_2_top1.jpg">
                        <p class="title">상의</p>
                    </div>
                    <div class="pants">
                        <img src="/img/woman/sub2_2_pants1.jpg">
                        <p class="title">하의</p>
                    </div>
                    <div class="shoes">
                        <img src="/img/woman/sub2_2_shoes1.jpg">
                        <p class="title">신발</p>
                    </div>
                    <div class="Accessories">
                        <img src="/img/woman/sub2_2_Accessories1.jpg">
                        <p class="title">악세사리</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub2_3">
            <div class="center">
                <div class="best">
                    <div class="top">
                        <img src="/img/woman/sub2_3_top1.jpg">
                        <i class="fa-regular fa-heart"></i>
                        <div class="flex">
                            <div class="title">
                                <p class="bold">러스틱 패브릭 크롭 베스트<span class="span"> 상의</span></p>
                                <p>브이넥 슬리브리스 크롭 베스트. <br>
                                앞면 버튼 여밈.</p>
                                <p class="price">49,900</p>
                            </div>
                            <div class="bag">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <div class="pants">
                        <img src="/img/woman/sub2_3_pants1.jpg">
                        <i class="fa-regular fa-heart"></i>
                        <div class="flex">
                            <div class="title">
                                <p class="bold">러스틱 패브릭 크롭 베스트<span class="span"> 상의</span></p>
                                <p>브이넥 슬리브리스 크롭 베스트. <br>
                                앞면 버튼 여밈.</p>
                                <p class="price">49,900</p>
                            </div>
                            <div class="bag">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <div class="shoes">
                        <img src="/img/woman/sub2_3_shoes1.jpg">
                        <i class="fa-regular fa-heart"></i>
                        <div class="flex">
                            <div class="title">
                                <p class="bold">러스틱 패브릭 크롭 베스트<span class="span"> 상의</span></p>
                                <p>브이넥 슬리브리스 크롭 베스트. <br>
                                앞면 버튼 여밈.</p>
                                <p class="price">49,900</p>
                            </div>
                            <div class="bag">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                        </div>
                    </div>
                    <div class="Accessories">
                        <img src="/img/woman/sub2_3_Accessories1.jpg">
                        <i class="fa-regular fa-heart"></i>
                        <div class="flex">
                            <div class="title">
                                <p class="bold">러스틱 패브릭 크롭 베스트<span class="span"> 상의</span></p>
                                <p>브이넥 슬리브리스 크롭 베스트. <br>
                                앞면 버튼 여밈.</p>
                                <p class="price">49,900</p>
                            </div>
                            <div class="bag">
                                <i class="fa-solid fa-bag-shopping"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sub2_4">
            <div class="center">
                <div class="title">주요 상품</div>
                <div class="top">
                    <div>
                        <img src="/img/woman/sub2_4_top.jpg">
                    </div>
                    <div class="title">
                        <p class="hig">하이라이트</p>
                        <h4 class="zara">ZARA</h4>
                        <p class="text">여성복에 다채로움을 선사하는 베스트 & 질레를 소개합니다.<br>아우터와 니트웨어 위에 착용하기 쉽고, 셔츠 또는 티셔츠에 웨이스트코트처럼 입기 편해서 스타일링도 쉽죠.</p>
                        <a href="#">감상하기</a>
                    </div>
                </div>
                <div class="bot">
                    <div class="title">
                        <p class="hig">하이라이트</p>
                        <h4 class="zara">ZARA</h4>
                        <p class="text">테일러드 디자인부터 패디드, 푸퍼 디자인까지, ZARA 컬렉션에서 스마트하고 캐주얼한 스타일을 만나보세요.<br> 진과 워킹 부츠 또는 팬츠 수트에 코디하고 아웃핏에 섬세하고 편안한 매력을 더해보세요.</p>
                        <a href="#">감상하기</a>
                    </div>
                    <div>
                        <img src="/img/woman/sub2_4_bot.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs", {title:"footer",footerFile:["footer.css"]}) %>
    <script src="/js/sub.js"></script>
</body>
</html>