<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/click.css">
</head>
<body>
    <div id="header">
        <div class="center">
            <div class="title">
                <h1 class="logo"><a href="/"><img src="/img/Zara_logo.png"></a></h1>
                <p>고객지원</p>
            </div>
            <div class="list">
                <div class="won">
                    <p class="phone">전화번호</p>
                    <p class="gray font num">010-3479-5644</p>
                    <p class="font">월-금 : 9시~오후 8시</p>
                    <p class="font">토 : 10시~오후4시</p>
                    <p class="facebook">FACEBOOK</p>
                    <p class="gray font Care">ZARACare</p>
                    <p class="inquiry">문의하기</p>
                    <a href="/sub4" class="click">click</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>