<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <div id="container">
        <div class="center">
            <div class="title">제목</div>
            <div class="user">
                <h4><%- data.title %></h4>
                <div class="contBox">
                    <div class="top_content">
                        <div class="content" style="line-height: 30px;">
                            <p style="white-space: pre-line;">
                                <%- data.content %>
                            </p>
                            <p><%- data.author %></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btns">
                <a href="/sub4">목록</a>
                <a class="update">수정</a>
            </div>
        </div>
    </div>
</body>
</html>