<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,600&family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/subtop.css">
    <title>Document</title>
</head>
<body>
    <%- include("subheader.ejs", {title:"sub",subFiles:["subheader.css"]}) %>
    <div class="videobox">
        <video muted autoplay loop>
            <source src="/img/woman/woman_top/ZARA video.mp4">
        </video>
    </div>
    <div id="container" >
        <div class="sub1">
            <div class="center">
                <div class="title">
                    <h3>스타일을 완성하는 여성 탑</h3>
                    <p>여성 탑 컬렉션은 오프 숄더 스타일, 홀터넥, 캐미솔 또는 니트 저지 티셔츠까지, 모든 아웃핏에 잘 어울리는 아이템들을 소개합니다.<br> 
                        이번 시즌 클래식한 블랙, 화이트, 핑크, 네이비 블록 컬러는 시퀸 탑부터 스테이트먼트 애니멀 프린트,<br>
                        오리지널 슬로건 티셔츠까지의 디테일을 만나보세요. 나만의 데일리룩을 지금 완성해보세요.</p>
                </div>
            </div>
        </div>
        <div class="sub3">
            <div class="center">
                <!-- subtop.js 파일에 있는 데이터를 기반으로 목록-->
                <div class="womanlist">
                    
                </div>
            </div>
        </div>
        <div class="sub4">
            <div class="center">
                <!-- <div class="img">
                    <img src="/img/woman/sub3_list11.jpg">
                </div> -->
                <div class="bot">
                    <div class="title">
                        <p class="hig">다양한 여성 세트 상품</p>
                        <h4 class="zara">ZARA</h4>
                        <p class="text">이번 시즌 세트 상품보다 더 쉬운 코디 방법이 있을까요? 이번 시즌 포근한 니트웨어 세트부터<br> 프린트 탑과 스커트 세트 상품까지,
                             모든 소재와 스타일의 세트 상품을 확인해보세요.<br> 쉬운 스타일링을 위해 세트 상품을 함께 코디하거나 다른 아이템과 매치해 색다른 스타일을 완성해보세요.</p>
                        <a href="#">감상하기</a>
                    </div>
                    <div>
                        <img src="/img/woman/sub3_list11.jpg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include("footer.ejs", {title:"footer",footerFile:["footer.css"]}) %>
    <script src="/js/subtop.js"></script>
    <script src="/js/footer.js"></script>
</body>
</html>