* {margin: 0; padding: 0;}
img {vertical-align: top;}
li,ul,ol {list-style: none;}
a {text-decoration: none;}
body {line-height: 1;}

#header .center .title  { margin-top: 75px; margin-left: 26px; opacity: 1;}
#header .center .title p {font-size: 28px; margin: 60px 0; font-weight: lighter;}
#header .center img {width: 320px; margin-bottom: 10px;}

#container {display: flex; justify-content: center;}
#container .center {width: 900px; display: flex; justify-content: center;}
#container .center .list .topbox {margin-bottom: 50px;}
table {width: 900px; border-collapse: collapse; font-size: 14px;}
th, td {border-bottom: 1px solid #ddd; padding:20px 20px; text-align: center;}
th {border-bottom: 1px solid  #ddd;}

#container .center .list .bot {display: flex; justify-content: right; margin-top: 60px;}
#container .center .list .bot .botbox a {margin-left: 10px; display: inline-block; border: 1px solid #999; padding: 10px 20px; font-size: 14px;}
#container .center .list .botbot .flex {display: flex; justify-content: center; margin-top: 50px;}
#container .center .list .botbot .flex li {margin: 0 20px;}

select {

    width: 100px;
    
    padding: 8px 8px;
    
    border: 1px solid #999;
    
    
    }
#inputText {width: 180px; padding: 8px 5px;}
#searchBtn {width: 50px; height: 40px; line-height: 40px; background-color: #fff;border: 1px solid #999;}