* {margin: 0; padding: 0;}
img {vertical-align: top;}
li,ul,ol {list-style: none;}
a {text-decoration: none;}
body {line-height: 1;}

#header .center .title  { margin-top: 75px; margin-left: 26px; opacity: 1;}
#header .center .title p {font-size: 28px; margin: 40px 0; font-weight: lighter;}
#header .center img {width: 320px; margin-bottom: 10px;}

#container {display: flex; justify-content: center;}
#container .center {width: 900px;}
#container .center .user h4 {padding: 15px 15px 15px 15px;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #dbdbdb;
    background: #f7f7f7;}
#container .center .autor { padding: 15px 15px 15px 15px;
    border-bottom: 1px solid #dbdbdb; line-height: 10px; font-size: 12px; color: #333;}
#container .center .content {height: 350px; border-bottom: 1px solid #dbdbdb; line-height: 350px;}
#container .center .btns {text-align: right;  margin-top: 10px;}
#container .center .btns a {border: 1px solid #333333;line-height: 26px;
    padding: 5px 12px 5px 12px;
    color: #666666;
    border: 1px solid #a3a3a3;
    text-align: center; font-size: 12px;}