* {margin: 0; padding: 0;}
img {vertical-align: top;}
li,ul,ol {list-style: none;}
a {text-decoration: none;}
body {line-height: 1;}


#header .center .title  { margin-top: 75px; margin-left: 26px; opacity: 1;}
#header .center img {width: 320px; margin-bottom: 10px;}
#header .center .ul ul {margin-left: 26px; display: flex;}
#header .center .ul ul li {margin-right: 50px; margin-top: 100px; }
#header .center .ul ul li a {color: #000;}

.login {margin-left: 26px;}
.login .memberid {margin-top: 80px;}
.login .won {margin-top: 60px;}
.login .two {margin-top: 60px;}
.login .id {font-size: 12px; margin-top: 10px; color: gray;}
.login .memberpassword {font-size: 12px; margin-top: 10px; color: gray;}
.login .password {margin-top: 60px; color: #000;}
.login .password a {color: #000;}