* {margin: 0; padding: 0;}
img {vertical-align: top;}
li,ul,ol {list-style: none;}
a {text-decoration: none;}
body {line-height: 1;}



/*sub1*/
#container .sub1 {display: flex; justify-content: center;}
/* #container .sub1 .center {width: 1500px;} */
#container .sub1 .center img {width: 100%;}
#container .sub1 .center .title {text-align: center; line-height: 28px; margin: 100px 0; }
#container .sub1 .center .title h3 {font-family: 'Lora', serif; font-size: 20px; height: 28px;}
#container .sub1 .center .title .won {font-size: 14px;}

/*sub2*/
#container .sub2 {display: flex; justify-content: center;}
#container .sub2 .center {width: 1200px; display: flex; justify-content: space-between;}
#container .sub2 .center .top img {width: 500px;}
#container .sub2 .center .bot img {width: 500px; margin-top: 350px;}


/*sub2_2*/
#container .sub2_2 {display: flex; justify-content: center; margin: 200px 0;}
#container .sub2_2 .center {width: 1700px;}
#container .sub2_2 .center .woman {width: 100%; display: flex; justify-content: space-between;}
#container .sub2_2 .center .woman > div {width: 500px;}
#container .sub2_2 .center .woman > div > img {width: 100%; height: 100%;}
#container .sub2_2 .center .woman > div > .title {margin-left: 20px; margin-top: 20px;}

/*sub2_3*/
#container .sub2_3 {display: flex; justify-content: center; margin-top: 200px 0;}
#container .sub2_3 .center{width: 1500px;}
#container .sub2_3 .center .best {width: 100%; display: flex;flex-wrap: wrap; justify-content: space-between;}
#container .sub2_3 .center .best > div {width: 360px; position: relative; margin-bottom: 100px; display:none;}
#container .sub2_3 .center .best > div:nth-child(1),
#container .sub2_3 .center .best > div:nth-child(2),
#container .sub2_3 .center .best > div:nth-child(3),
#container .sub2_3 .center .best > div:nth-child(4) { display: block;}
#container .sub2_3 .center .best > div > img {width: 100%; transition: all 0.5s; margin-bottom: 10px;}
#container .sub2_3 .center .best > div .fa-regular {position: absolute; top: 15px; right: 15px; font-size: 18px;}
#container .sub2_3 .center .best  .flex {display: flex; justify-content: space-between;}
#container .sub2_3 .center .best  .flex .fa-solid {border: 1px solid #dee2e6; border-radius: 50%; width: 50px; height: 50px; text-align: center; line-height: 50px; margin-top: 60px;}
#container .sub2_3 .center .best  .title p {font-size: 13px; line-height: 22px;}
#container .sub2_3 .center .best  .title .bold {font-weight: bold;}
#container .sub2_3 .center .best  .title .span {font-weight: normal;}
#container .sub2_3 .center .best  .title .price {font-weight: bold; margin-top: 30px;}
#container .sub2_3 .center .btn {display: flex; justify-content: center; text-decoration: underline;}
#container .sub2_3 .center .more2 {display: none;}


/*sub2_4*/
#container .sub2_4 {margin-top: 200px; display: flex; justify-content: center;}
#container .sub2_4 .center {width:1700px;}
#container .sub2_4 .center .title {text-align: center; margin-bottom: 100px;}
#container .sub2_4 .center .top {display: flex;}
#container .sub2_4 .center .top > div {width: 50%;}
#container .sub2_4 .center .top > div > img {width: 100%;}
#container .sub2_4 .center .top .title {text-align: center; margin: auto 0; line-height: 28px;}
#container .sub2_4 .center .bot {display: flex;}
#container .sub2_4 .center .bot > div {width: 50%;}
#container .sub2_4 .center .bot > div > img {width: 100%;}
#container .sub2_4 .center .bot .title {text-align: center; margin: auto 0; line-height: 28px;}
#container .sub2_4 .center .bot .title .hig {font-size: 12px; color: gray;}
#container .sub2_4 .center .top .title .hig {font-size: 12px; color: gray;}
#container .sub2_4 .center .top .title .zara {font-family: 'Lora', serif; font-weight: 600; font-size: 18px;}
#container .sub2_4 .center .bot .title .zara {font-family: 'Lora', serif; font-weight: 600; font-size: 18px;}
#container .sub2_4 .center .bot .title .text {font-size: 13px;}
#container .sub2_4 .center .top .title .text {font-size: 13px;}
#container .sub2_4 .center .top .title a {color: #000; text-decoration:underline;}
#container .sub2_4 .center .bot .title a {color: #000; text-decoration:underline;}
#container .sub2_4 .center .bot .title a:hover {color: gray; }
#container .sub2_4 .center .top .title a:hover {color: gray;}



#container .sub3 {display: flex; justify-content: center;}
#container .sub3 .center {width: 900px;}
#container .sub3 .center .womanlist {display: flex; justify-content: space-between; flex-wrap: wrap;}
#container .sub3 .center .womanlist .list img {width: 400px;}
#container .sub3 .center .womanlist .list {margin-top: 60px; margin-bottom: 300px;}
#container .sub3 .center .womanlist .list .title {display: flex; justify-content: space-between;margin-top: 10px;}
#container .sub3 .center .womanlist .list .title p {font-size: 14px;}


.titleMAR {border-top: 1px solid  #dee2e6;border-bottom: 1px solid #dee2e6;  padding: 20px 0; font-size: 12px; margin-top: 100px;}
.titleMAR ul {display: flex;}
.titleMAR ul li {margin: 0 30px;}
.titleMAR ul .fa-solid {margin-right: 10px;}

/*footer*/
#footer {display: flex; justify-content: center; text-align: center; background-color: #fff; padding: 100px 0;}
#footer .center {width: 1500px;}
#footer .center .title {line-height: 28px; color: gray; font-size: 14px;}
#footer .center .title .sing { margin-bottom: 30px;}
#footer .center .title .tik {font-size: 15px; margin-bottom: 30px; font-weight: bold;}
#footer .center .title .company {font-size: 15px; margin-bottom: 30px;}
#footer .center .title .fix {position: fixed; bottom:200px; right: 200px; color: #000; opacity: 0; transform: translateY(50px); transition: all 0.5s; pointer-events: all;}
#footer .center .title .fix.on {position: fixed; bottom:200px; right: 200px; color: #000; opacity: 1; transform: translateY(0px);}



